.card.col-sm-12.col-md-6.col-lg-4.event-card
  .poster-card__header
    .poster-card__image
      img.card-img-top(src="./images/category/parties.jpg", alt="event")
      span.poster-card__label= festival.price
  
  .card-body
    .poster-card__date= moment(festival.starts).format('YYYY-MM-DD')
    p.poster-card__title= festival.title
    .poster-card__venue= festival.location
      
  .poster-card__footer
    .poster-card__tags
      a.event-category(href="#") #
        = festival.festType
      a.event-format(href="#") #
        = festival.festTopic
    .poster-card__actions
      a.share-action(href="#")
        i.fa.fa-share(aria-hidden="true")
      a.bookmark(href="#")
        i.fa.fa-bookmark-o(aria-hidden="true")
