.footer
  .footer-pad
    ul.footer-links.justify-content-center
      p Use Eventbrite
      li
        a(href='') How It Works
      li
        a(href='') For Large & Complex Events
      li
        a(href='') Pricing
      li
        a(href='') Community Guidelines
      li
        a(href='') Eventbrite Mobile App
      li
        a(href='') Eventbrite Check-In App
      li
        a(href='') Eventbrite Spectrum
      li
        a(href='') Rally - Fun Things To Do
      li
        a(href='') Eventbrite Reviews
      li
        a(href='') Sitemap
    ul.footer-links.list-unstyled
      p Plan Events
      li
        a(href='') Conference Management Software
      li
        a(href='') Food and Drink Ticketing
      li
        a(href='') Nonprofits & Fundraisers
      li
        a(href='') Sell Tickets
      li
        a(href='') Event Management & Planning
      li
        a(href='') Online Event Registration
      li
        a(href='') Online RSVP
      li
        a(href='') Venue Booking & Management
      li
        a(href='') Event Equipment & Staffing
      li
        a(href='') Event Promotion
    ul.footer-links.list-unstyled
      p Find Events
      li
        a(href='') Boston Events
      li
        a(href='') Chicago Events
      li
        a(href='') Denver Events
      li
        a(href='') Houston Events
      li
        a(href='') Los Angeles Events
      li
        a(href='') Nashville Events
      li
        a(href='') New York Events
      li
        a(href='') San Diego Events
      li
        a(href='') San Francisco Events
      li
        a(href='') All Cities
    ul.footer-links.list-unstyled
      p Connect With Us
      li
        a(href='') Contact Support
      li
        a(href='') Contact Sales
      li
        a(href='') Twitter
      li
        a(href='') Facebook
      li
        a(href='') LinkedIn
      li
        a(href='') Instagram
      li
        a(href='') Google+
  .container All rights reserved. &copy; 2017 Myongji University.
