.footer
  .container.footer-pads
    .row.events-footer
      ul.footer-links.list-unstyled.col-3
        p Use Eventbrite
        li
          a(href='') How It Works
        li
          a(href='') For Large & Complex Events
        li
          a(href='') Pricing
        li
          a(href='') Community Guidelines
        li
          a(href='') Eventbrite Mobile App
        li
          a(href='') Eventbrite Check-In App
        li
          a(href='') Eventbrite Spectrum
        li
          a(href='') Rally - Fun Things To Do
        li
          a(href='') Eventbrite Reviews
        li
          a(href='') Sitemap
      ul.footer-links.list-unstyled.col-3
        p Plan Events
        li
          a(href='') Conference Management Software
        li
          a(href='') Food and Drink Ticketing
        li
          a(href='') Nonprofits & Fundraisers
        li
          a(href='') Sell Tickets
        li
          a(href='') Event Management & Planning
        li
          a(href='') Online Event Registration
        li
          a(href='') Online RSVP
        li
          a(href='') Venue Booking & Management
        li
          a(href='') Event Equipment & Staffing
        li
          a(href='') Event Promotion
      ul.footer-links.list-unstyled.col-3
        p Find Events
        li
          a(href='') Boston Events
        li
          a(href='') Chicago Events
        li
          a(href='') Denver Events
        li
          a(href='') Houston Events
        li
          a(href='') Los Angeles Events
        li
          a(href='') Nashville Events
        li
          a(href='') New York Events
        li
          a(href='') San Diego Events
        li
          a(href='') San Francisco Events
        li
          a(href='') All Cities
      ul.footer-links.list-unstyled.col-3
        p Connect With Us
        li
          a(href='') Contact Support
        li
          a(href='') Contact Sales
        li
          a(href='') Twitter
        li
          a(href='') Facebook
        li
          a(href='') LinkedIn
        li
          a(href='') Instagram
        li
          a(href='') Google+
    .row.countries-footer
      ul.footer-links.list-unstyled.col-12
        p Country
        li
          a(href='') Argentina
        li
          a(href='') Austraila
        li
          a(href='') Belgie
        li
          a(href='') Belgique
        li
          a(href='') Brasil
        li
          a(href='') Canada (EN)
        li
          a(href='') Canada (FR)
        li
          a(href='') Chile
        li
          a(href='') Colombia
        li
          a(href='') Deutschland
        li
          a(href='') Espana
        li
          a(href='') France
        li
          a(href='') Hong Kong
        li
          a(href='') Ireland
        li
          a(href='') Italia
        li
          a(href='') Mexico
        li
          a(href='') Nederland
        li
          a(href='') New Zealand
        li
          a(href='') Osterreich
        li
          a(href='') Peru
        li
          a(href='') Portugal
        li
          a(href='') Singapore
        li
          a(href='') United Kingdom
        li
          a(href='') United States
    .row.normal-footer
      ul.footer-links.list-unstyled.col-12
        li
          a(href='') About
        li
          a(href='') Blog
        li
          a(href='') Help
        li
          a(href='') Careers
        li
          a(href='') Press
        li
          a(href='') Security
        li
          a(href='') Developers
        li
          a(href='') Terms
        li
          a(href='') Privacy
        li
          a(href='') Cookies
        li
          select.custom-select
            option(selected) United States
            option(value='1') Argentina
            option(value='2') Austraila
            option(value='3') Belgie
            option(value='4') Belgique
            option(value='5') Brasil
            option(value='6') Canada(EN)
            option(value='7') Canada(FR)
            option(value='8') Chile
            option(value='9') Colombia
            option(value='10') Deutschland
            option(value='11') Espana
            option(value='12') France
            option(value='13') Hong Kong
            option(value='14') Ireland
            option(value='15') Italia
            option(value='16') Mexico
            option(value='17') Nederland
            option(value='18') New Zealand
            option(value='19') Osterreich
            option(value='20') Peru
            option(value='21') Portugal
            option(value='22') Singapore
            option(value='23') United Kingdom
            option(value='24') United States
    .row.normal-footer
    .row.copyright-footer.justify-content-center All rights reserved. &copy; 2017 Myongji University.
