extends layout

block img-unit
  .slideshow
    img.active(src="/images/slideshow/1.jpg")
    img(src="/images/slideshow/2.jpg")
    img(src="/images/slideshow/3.jpg")
    img(src="/images/slideshow/4.jpg")
      
      
block card-content
  .card#bar
    h2.display-4 Find your next experience
    .card-body
      .form-group.row.justify-content-center
        .col-4
          input.form-control(type="text", placeholder="Search events or categories")
        .col-auto
          input.form-control(type="text", placeholder="City or location")
        .col-auto
          select.custom-select#inlineFormCustomSelect
            option(selected) All Dates
            option(value="1") Today
            option(value="2") Tomorrow
            option(value="3") This week
            option(value="4") This weekend
            option(value="5") Next week
            option(value="6") Next month
        .col-auto
          button.btn(type="Search") Search
          
block grid-content
  .grid
    p.grid-section-heading.text-center Browse by Top Categories
    .container
      .row
        .col-8
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/music.jpg", alt="Music Category")
            .card-img-overlay
              h4.card-title.text-center.align-items-center Music
              p.card-text.text-center.align-items-center This is music category.
        .col-4
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/food.jpg", alt="Food Category")
            .card-img-overlay.align-self-center
              h4.card-title.text-center Food & Drink
              p.card-text.text-center This is Food & Drink category.
      .row
        .col-4
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/classes.jpg", alt="Classes Category")
            .card-img-overlay.align-self-center
              h4.card-title.text-center Classes
              p.card-text.text-center This is Classes category.
        .col-4
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/arts.jpg", alt="Arts Category")
            .card-img-overlay.align-self-center
              h4.card-title.text-center Arts
              p.card-text.text-center This is Arts category.
        .col-4
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/parties.jpg", alt="Parties Category")
            .card-img-overlay.align-self-center
              h4.card-title.text-center Parties
              p.card-text.text-center This is Parties category.
      .row
        a.col-4
          .card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/sports.jpg", alt="Sports Category")
            .card-img-overlay
              h4.card-title.text-center.justify-content-center Sports & Wellness
              p.card-text.text-center This is Sports & Wellness category.
        .col-8
          a.card.bg-dark.text-white(href="")
            img.card-img(src="/images/category/networking.jpg", alt="Networking Category")
            .card-img-overlay.align-self-center
              h4.card-title.text-center Networking
              p.card-text.text-center This is Networking category.
          
            
            
  
