extends layout

block top-nav
  .lsh-navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      a.navbar-brand(href="/") Eventbrite
  
block content
  .container
    .clearfix
      form.form-signin(action='/signin', method='POST')
        .logo
          img.mainlogo(src="/images/mainlogo/mainlogo.png")
        h3.form-signin-heading.text-center Let's Get Started
        p.form-signin.text-center Enter your email to signup or log in.
        label.sr-only(for='email') Email address
        input(
          type='email', id='email', name='email', class='form-control', 
          placeholder='Email address', required, autofocus
        )
        label.sr-only(for='password') Password
        input(
          type='password', id='password', name='password', class='form-control', 
          placeholder='Password', required, autofocus
        )
        .checkbox
          label 
            input(type="checkbox", value="remember-me")
            |
            | Remember me
        button.btn.btn-signin.btn-block(type='submit') Get Started
        a.btn.btn-signin-facebook.btn-block(href='/auth/facebook')
          i.fa.fa-facebook.fa-lg
          | &nbsp;
          | Signin with Facebook

        div.sub 
          a(href='/users/new') Signup
          | 
          | /
          |
          a(href='/reset-password') Reset Password
      
block grid-content      
block footer
