@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font-family: 'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  & > .main-content {
    min-height: 400px;
  }
}

/*--------------------------------------*/

.lsh-navbar {
  /* Navbar 의 여백 조정 */
  .navbar {
    padding: 0 1rem;
    height: 3.8rem;

    a:hover.navbar-brand {
      background-color: #FFFF;
    }


    a:hover {
      background-color: #EFF2F5;
    }
  }
  /* NavBar 의 로고 부분 */
  .navbar-brand {
    color: #E7703F;
    font-family: "Benton Sans";
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1px;
  }

  /* NavBar 의 로고 hover 강제 비활성화 */
  .navbar-brand:hover {
    background: #FFFFFF;
    color: #E7703F;
  }

  .navbar-collapse {
    height: 60px;
  }
  .navbar-nav {
    /* Navbar의 버튼들 부분*/
    .nav-item {
      border-left: 0.1px solid #EFF2F5;
      margin: 0;

      .nav-link {
        font-size: 12px;
        padding: 22px 20px 19px 20px;
      }
    }
  }
}

/*--------------------------------------*/

.slideshow {
  height: 500px;
  position: relative;
  padding: 0;
  margin-bottom: -8em; /* 바 위로 올려서 겹침 효과 */
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
  }
  img.active {
    opacity: 1.0;
  }
}

/*--------------------------------------*/

.card {
  max-width: 1050px;
  max-height: 210px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  border-radius: 4px;

  h2 {
    text-align: center;
    color: #E7703F;
  }

  .form-group {
    .col-4 {
      padding: 0;
    }
    .col-auto {
      padding: 0;
    }

    .btn {
      color: #FFFFFF;
      background-color: #E7703F;
    }
  }
}

/*--------------------------------------*/

.footer {
  background-color: #282C35;

  .footer-pads {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;

    .events-footer {
      margin-bottom: 1em;
      color: #ADB0B6;

      p {
        font-size: 18px;
        color: #ADB0B6;
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 1px;
        a {
          color: #ADB0B6;
          font-size: 12px;
        }
      }
    }
    .countries-footer {
      margin-bottom: 1em;
      color: #ADB0B6;

      p {
        font-size: 18px;
        color: #ADB0B6;
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 1px;
        display: inline-block;
        padding-right: 1em;
        a {
          color: #ADB0B6;
          font-size: 12px;
        }
      }
    }
    .normal-footer {
      margin-bottom: 1em;
      color: #ADB0B6;

      li {
        margin-bottom: 1px;
        display: inline-block;
        padding-right: 1em;
        a {
          color: #ADB0B6;
          font-size: 15px;
        }
        select {
          color: #ADB0B6;
          background-color: #282C35;
          border-color: #ADB0B6;
          width: 200px;
        }
      }
    }
    .copyright-footer {
      color: #ADB0B6;
    }
  }
}

/*--------------------------------------*/

.grid {
  .grid-section-heading {
    font-size: 1.5em;
  }
  .container {
    max-width: 1050px;
    padding: 0;

    .row {
      padding-bottom: 2em;
    }
    .card {
      height: 210px;
      padding-top: 0;
      padding-bottom: 0;
      border-style: none;

      .card-img {
        height: inherit;
        width: 100%;
      }
      .card-img-overlay {
        width: 100%;
        padding: 0;
      }
    }
  }
}
