.content= festival.content
.tags.badges
  each tag in festival.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= festival.numLikes] likes,
      #[span.number.num-attends= festival.numAttends] attends,
      #[span.number.num-views= festival.numReads] reads
  .col-sm
    .author
      | asked on #{moment(festival.createdAt).format('YYYY-MM-DD')}
      if festival.author
        | 
        | by #[a(href=`/users/${festival.author.id}`)= festival.author.name] 
