extends ../layout

block content
  .container
    h1.main-title Create An Event
    form(action="/festivals", method="POST")
      include _form
      button.btn.btn-outline-primary.btn-submit(type="submit") Make Your Event
      
block grid-content
block footer

    
